<h1>Customers</h1>
<div>
    <ul>
        <li *ngFor="let cust of customers" (click)="customer = cust">{{cust.name}}</li>
    </ul>
    <h1>{{customer.name}}</h1>
    <div>
        <p>
            <i>
                {{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}
                {{customer.address.state}}
                in
                the {{customer.address.region}} region.
            </i>
        </p>
    </div>
    <div>
        <label for="">Name: <input [(ngModel)]="customer.name"></label>
        <br />
    </div>
    <br />
    <label for=""> <input type="checkbox" [(ngModel)]="hideAddress"> Hide Address</label>
    <br />
    <fieldset [hidden]="hideAddress">
        <label for="">Street: <input [(ngModel)]="customer.address.street"></label><br />
        <label for="">City: <input [(ngModel)]="customer.address.city"></label><br />
        <label for="">State: </label>
        <select [(ngModel)]="customer.address.state">
            <option>California</option>
            <option>Quebec</option>
            <option>Jalisco</option>
            <option>Illinois</option>
        </select>
    </fieldset>
    <fieldset>
        <label>Region: </label>
        <select [(ngModel)]="customer.address.region">
            <option *ngFor="let region of regions">{{region}}</option>
        </select>
    </fieldset>
</div>